* {
  margin: 0;
  padding: 0;
  text-transform: none;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}


.container {
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  padding: 20px 10px 50px;
  background: #ffffffab;
  border-radius: 4px;
  width: 100%;
  max-width: 90vw;
  margin: 10px auto;
  position: relative;
}

h1 {
  display: block;
  text-align: center;
  padding: 10px;
  color: #464646;
  font-size: 1.5em;
  font-weight: lighter;
  text-transform: capitalize;
  border-bottom: 2px solid #464646;
}

button {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 20px auto 0;
  padding: 10px;
  border: none;
  border-left: 4px solid #212121;
  border-radius: 1px;
  color: #fff;
  background: #464646;
  box-shadow: 1px 1px 2px gray;
  cursor: pointer;
}

button:hover {
  background: #212121;
  transition: .2s;
  box-shadow: 0px 0px 2px rgb(97, 97, 97);
}

.pw{
  font-style: italic;
  font-size: 1em;
  color: #4d4d4d;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 30px auto 0;
}

#consumos{
  background: #fff;
}

.none{
  display: none;
}

h2{
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.info{
  padding: 20px;
}

table{
  background: #f1f1f1;
  width: 98vw;
  padding: 5px;
  margin: 0 auto;
}

th{
  font-size: 1em;
  padding: 5px 2px;
  border-bottom: 1px solid #000;
  font-weight: bold;
  text-align: left;
}

td{
  text-align: left;
  padding: 10px 0px;
  font-size: 1em;
}

td:last-child{
  min-width: 90px;
}

p{
  text-align: center;
  margin-bottom: 5px;
}

.total{
  display: block;
  background: #ffffff;
  max-width: 300px;
  margin: 20px auto 0;
  font-size: 1em;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(80, 80, 80);
}

#voltar{
  margin: 10px auto;
}

#vlr{
  text-align: right;
  display: inline-block;
  width: 60px;
  /* background: #4d4d4d; */
}





#nome{
  text-transform: capitalize;
}